<div class="d-flex flex-column justify-content-center align-items-center hero">
    <div class="container row section-title col-md-12" data-aos="fade-up">
        <div class="tab-panel">
            <tabset class="member-tabset" #adminTabs>
                <tab heading="Disease Management" (selectTab)="onTabActivated($event)">
                    <div class="container">
                        <app-disease-management></app-disease-management>
                    </div>
                </tab>
                <tab heading="Symptoms Management" (selectTab)="onTabActivated($event)">
                    <div class="container">
                        <!-- Load only when active for first time -->
                        <ng-container *ngIf="activeTab?.heading === 'Symptoms Management'">
                            <app-symptom-management></app-symptom-management>
                        </ng-container>
                    </div>
                </tab>
                 <tab heading="Medicines Management" (selectTab)="onTabActivated($event)">
                    <div class="container">
                        <!-- Load only when active for first time -->
                        <ng-container *ngIf="activeTab?.heading === 'Medicines Management'">
                            <app-medicine-management></app-medicine-management>
                        </ng-container>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>